extends layout

block head-extras
  script(src='/js/create.js')

block content
  h1= title
  h4 New Card
  form(method='POST' action='')
    .form-group
      input.form-control(type='text', placeholder='Front of card', name='front', value='')
    .form-group
      input.form-control(type='text', placeholder='Back of card', name='back', value='')
    button.btn.btn-primary(type='submit') Submit

  if errors
    h4 Errors:
    ul
      for error in errors
        li= error.msg
  else if newCard
    h4 Created new card!
    p ID: #{newCard.id}
    p Front: #{newCard.front}
    p Back: #{newCard.back}