extends layout

block head-extras
  script(src='/js/list.js')

block content
  h1 List Cards
  .cards-list
    .panel.panel-default
      .panel-heading #[span.cards-count-helper-text Displaying cards #{offset+1}-#{offset+cards.length}] (#[span.cards-count #{totalCards}] total)
      table.table
        thead
          tr
            -
              var dbNameToPrettyNameMap = {
                'ID': '#',
                'front': 'Front',
                'back': 'Back',
                'next_review': 'Next Review Date',
                'difficulty': 'Difficulty (lower scores are harder)',
                'reps': 'Reps'
              };

            each prettyName, dbName in dbNameToPrettyNameMap
              th
                - var isOrderedField = (dbName == orderedBy);
                a(href='/listCards/' + dbName + '/0/' class=(isOrderedField ? 'sorted' : '')) #{prettyName} #{(isOrderedField ? '↓' : '')}
            th Delete?
        tbody
          each card in cards
            tr(id="card-id-" + card.id)
              th(scope="row")= card.row_number
              td.editable-front= card.front
              td.editable-back= card.back
              td= moment(card.next_review).format('MMMM Do, YYYY')
              td= card.difficulty
              td= card.reps
              td
                button.btn.btn-danger.btn-delete
                  span.glyphicon.glyphicon-minus
  if pages > 1
    // Handle the enabling / disabled the prev & next buttons
    -
      const base = '/listCards/' + orderedBy + '/';
      var previousLink = base + (currentPage-1);
      var previousLinkDisabled = '';
      var nextLink = base + (currentPage+1);
      var nextLinkDisabled = '';
      switch(currentPage) {
        case 0:
          previousLink = '#';
          previousLinkDisabled = 'disabled';
          break;
        case pages-1:
          nextLink = '#';
          nextLinkDisabled = 'disabled';
          break;
      }

    nav
      ul.pagination
        li.page-item(class=previousLinkDisabled)
          a.page-link(href=previousLink) Previous

        - for (var i = 0; i < pages; i++) {
          - var active = (i===currentPage ? 'active' : '');
          li.page-item(class=active)
            a.page-link(href=base+i) #{i}
        - }

        li.page-item(class=nextLinkDisabled)
          a.page-link(href=nextLink) Next
