extends layout

block head-extras
  script(src='/js/list.js')

block content
  h1 List Cards
  .cards-list
    .panel.panel-default
      .panel-heading
        span.cards-count-helper-text Displaying cards #{offset+1}-#{offset+cards.length} (#[span.cards-count #{totalCards}] total)
        if currentPage != 'showAll'
          a(href='/listCards/ID/asc/showAll')  Show All
      table.table
        thead
          tr
            each prettyName, dbName in dbNameToPrettyNameMap
              th
                -
                  const isOrderedField = (dbName == orderedBy);
                  const classText = isOrderedField ? 'sorted' : '';
                  var displayText = prettyName;
                  if (isOrderedField) {
                    if (ascendingOrDescending === 'asc') {
                      displayText += '↓';
                    }
                    else {
                      displayText += '↑';
                    }
                  }
                  // Need to determine which to put in the link. Should be 'desc' if this col is selected and currently 'asc'
                  const ascOrDescText = (isOrderedField && ascendingOrDescending === 'asc') ? 'desc' : 'asc';
                  var linkText = `/listCards/${dbName}/${ascOrDescText}/${currentPage}`;
                a(href=linkText, class=classText)= displayText
            th Delete?
        tbody
          each card in cards
            tr(id="card-id-" + card.id)
              th(scope="row")= card.row_number
              td.editable-front= card.front
              td.editable-back= card.back
              td= moment(card.next_review).format('MMMM Do, YYYY')
              td= card.difficulty
              td= card.reps
              td
                button.btn.btn-danger.btn-delete
                  span.glyphicon.glyphicon-minus
  if pages > 1
    // Handle the enabling / disabled the prev & next buttons
    -
      const currentPageInt = parseInt(currentPage);
      const base = `/listCards/${orderedBy}/${ascendingOrDescending}/`;
      var previousLink = base + (currentPageInt-1);
      var previousLinkDisabled = '';
      var nextLink = base + (currentPageInt+1);
      var nextLinkDisabled = '';
      switch(currentPageInt) {
        case 0:
          previousLink = '#';
          previousLinkDisabled = 'disabled';
          break;
        case pages-1:
          nextLink = '#';
          nextLinkDisabled = 'disabled';
          break;
      }

    nav
      ul.pagination
        li.page-item(class=previousLinkDisabled)
          a.page-link(href=previousLink) Previous

        - for (var i = 0; i < pages; i++) {
          - var active = (i===currentPageInt ? 'active' : '');
          li.page-item(class=active)
            a.page-link(href=base+i) #{i}
        - }

        li.page-item(class=nextLinkDisabled)
          a.page-link(href=nextLink) Next
