extends layout

block head-extras
  script(src='/js/review.js')
  script.
    CARDS_LEFT =!{cards.length};


block content
  h1 Review
  #cards-left-banner
    if cards.length > 0
      | There are #{cards.length} reviews today.
  .reviews
    each card in cards
      .review-container
        .card-container
          .front= card.front
          .back= card.back
        form(method='POST' action='' id=card.id).review
          h4 Score:
          .score-button-row
            each val in [0, 1, 2]
              button.btn.btn-danger.score-button(value=val) #{val}
          .score-button-row
            each val in [3, 4, 5]
              button.btn.btn-primary.score-button(value=val) #{val}
          .score-button-row
            button.btn.btn-warning.reminder-button ?

    else
      h4 No reviews today! ✔

  #reminder-text
    p 5 - perfect response
    p 4 - correct response after a hesitation
    p 3 - correct response recalled with serious difficulty
    p 2 - incorrect response; where the correct one seemed easy to recall
    p 1 - incorrect response; the correct one remembered
    p 0 - complete blackout
